* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  /* background-color: #EDD4D4; */
}

body{
  background-color: #EDD4D4;
}

header {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px 1px #807373;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position:relative; */
  background-image: url("https://i.pinimg.com/736x/e1/c2/3a/e1c23ac34847740f672717c89a62ae37.jpg");
}

header input {
  background-color: #631212;
  padding: 1.7rem 1rem;
  width: 70%;
  /* margin: 4.5rem; */
  outline: none;
  border: none;
  border-radius: 0.8rem;
  color: white;
  position: sticky;
  top: 4.5rem;
}

.img1{
  width: 150px;
  height: 150px;
  text-align: center;
  
  
}

.main-img{
    width: 10.8rem;
    height: 10.8rem;
    border-radius: 50%;
    box-shadow: 0 7px 8px  #0C0B0B ;
}

.main-img:hover{
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 50%;
    box-shadow: 0 12px 12px 2px #0C0B0B ;
}

.coffee-name{
  text-align: center;
padding: 15px;
  font-weight: 550;
}

.coffee-menu{
    display: flex;
    
    justify-content: center;
    align-items:center;
    height: 17rem;
    gap: 12.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.main-section1{
  width: 85vw;
background-color: #D7A1A1;
  margin: auto;
  padding: 2rem;
  border-radius: 0.8rem;
  color: #A52A4D;
  box-shadow: 0 0 5px 5px #D19393;
}

.para{
  padding-bottom: 1rem;
  line-height: 1.4;
}

.main-section2{
  margin:3rem auto;

}

.main-section2 .para{
  margin-top:1rem;
}

.para2{
  padding: 0.5rem 0;
}

.list{
  margin-left: -15px;

}


